.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.carousel img {
  width: 100%;
  display: none;
}
.carousel img.active {
  display: block;
}